@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 1pt 1pt#89b0ae;
}

.App {
  font-family: "Poppins", sans-serif;
  color: #2f3e46;
  border: 3px solid #2f3e46;
  background: #cad2c5;
  border-radius: 10px;
  min-width: 300px;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.SearchEngine {
  grid-area: 1 / 1 / 2 / 6;
}

.City {
  grid-area: 2 / 1 / 3 / 6;
}

.WeatherNow {
  grid-area: 3 / 1 / 4 / 6;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Temperature {
  grid-area: 3 / 1 / 4 / 4;
}

.CurrentDetails {
  grid-area: 3 / 4 / 4 / 6;
}

.Forecast {
  grid-area: 4 / 1 / 5 / 6;
}
