h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0.8rem 0rem 0rem 0rem;
}

h1 span {
  font-size: 1.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.City p {
  font-size: 0.8rem;
  margin-top: 0;
}
